<!DOCTYPE html>
    <html>
        <head>
            {% include ga.html %}
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <style>
            html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
            p.text-justify {text-align: justify; text-justify: inter-word;}
            </style>
        </head>
        <body class="w3-light-grey">
            <!-- Page Container -->
            <div class="w3-content w3-margin-top" style="max-width:1400px;">
                <!-- The Grid -->
                <div class="w3-row-padding">
                
                    <!-- Left Column -->
                    <div class="w3-third">
                        <div class="w3-white w3-text-grey w3-card-4">
                            <div class="w3-display-container">
                              <img src="/assets/avatar.jpg" style="width:100%" alt="Avatar">
                              <div class="w3-display-bottomleft w3-container w3-text-white">
                                <h2>Pedro ALO</h2>
                              </div>
                            </div>
                            <div class="w3-container">
                              <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Computer Engineer</p>
                              <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Campinas, SP, BR</p>
                              <!--<p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ex@mail.com</p>
                              <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>-->
                              <hr>
                    
                              <p class="w3-large"><b><i class="fa fa-certificate fa-fw w3-margin-right w3-text-teal"></i>Certifications</b></p>
                              <p>Google Cloud Professional Cloud Architect</p>
                              <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">05/2019 – 05/2021</div>
                              </div>
                              <p>Google Cloud Professional Data Engineer</p>
                              <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">
                                  <div class="w3-center w3-text-white">08/2019 – 08/2021</div>
                                </div>
                              </div>
                              <p>Google Cloud Professional Cloud Developer</p>
                              <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">02/2020 – 02/2022</div>
                              </div>
                              <p>Google Cloud Professional Cloud Security Engineer</p>
                              <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">03/2020 – 03/2022</div>
                              </div>
                              <br>
                    
                              <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
                              <p>Portuguese</p>
                              <div class="w3-light-grey w3-round-xlarge">
                                <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                              </div>
                              <p>English</p>
                              <div class="w3-light-grey w3-round-xlarge">
                                <div class="w3-round-xlarge w3-teal" style="height:24px;width:95%"></div>
                              </div>
                              <p>Italian</p>
                              <div class="w3-light-grey w3-round-xlarge">
                                <div class="w3-round-xlarge w3-teal" style="height:24px;width:75%"></div>
                              </div>
                              <p>German</p>
                              <div class="w3-light-grey w3-round-xlarge">
                                <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
                              </div>
                              <br>
                            </div>
                          </div><br>
                    <!-- End Left Column -->
                    </div>

                    <!-- Right Column -->
                    <div class="w3-twothird">
                        <div class="w3-container w3-card w3-white w3-margin-bottom">
                            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                            <div class="w3-container">
                              <h5 class="w3-opacity"><b>Computer Engineer / Instituto de Pesquisas Eldorado</b></h5>
                              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
                              <p class="text-justify">Project leader and software engineer in projects with a worldwide partner in the business of smartphones, responsible for interfacing with partners to discuss prioritization and design solutions. Actively working in the architecture and development of new features and solutions that support product readiness follow up using Android, App Engine, BigQuery, Chatbots (Google Cloud Platform), allowing partner to better identify and fix issues in smartphones by providing and supporting means to collect logs from the moment the problem is detected in the devices up to storing them at the backend.</p>
                              <hr>
                            </div>
                            <div class="w3-container">
                              <h5 class="w3-opacity"><b>Computer Engineer / Samsung Instituto de Desenvolvimento para a Informática</b></h5>
                              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2012 - Feb 2015</h6>
                              <p class="text-justify">Acting as a technical leader in the software solutions (Android, ASP.NET and Tizen more recently) to help Samsung sales, providing applications targeted to brazilian customer market. Responsible for gathering the Product Owner requirements and expectations and translating them into specifications for Android client applications in smartphones and tablets which would communicate with SOAP or REST web-services. Supporting the team development activities from Samsung’s partners in northeast (CESAR and UFPE), troubleshooting in specific problems and auditing their adherence to the quality criteria. Speaker in Samsungs developers day conferences in Bogotá-CO and São Paulo, presenting Samsung’s technologies to stretch the relationship with the Android development community and spread the usage of Samsung`s SDKs.</p>
                              <hr>
                            </div>
                            <div class="w3-container">
                              <h5 class="w3-opacity"><b>Computer Engineer / Venturus – Centro de Inovação Tecnológica</b></h5>
                              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul 2006 - Jul 2012</h6>
                              <p class="text-justify">Development of applications in C, C++, Java and Android to run in mobile environments, using design patterns and modern development processes with continuous integration. Six months assignment in Lund, Sweden as an expatriate developer inside Sony Ericsson working with Java ME. Architecture definition and project follow up with customers. Supporting the development and testing teams identifying defects and proposing solutions through the use of SCRUM agile methodology. Following IETF, RSA e ITU specifications when implementing digital signature feature to mobile phones browser in C, bluetooth concept application in C++, RSS feeds reader in J2ME and user interface development for Android in Sony Xperia product family. Lecturing internal courses for newcomers and external Android courses offered by Venturus to the open public.</p><br>
                            </div>
                          </div>
                    
                          <div class="w3-container w3-card w3-white">
                            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                            <div class="w3-container">
                              <h5 class="w3-opacity"><b>Universidade Estadual de Campinas</b></h5>
                              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2018 – Dec 2018</h6>
                              <p>Specialization in Complex Data Mining.</p>
                              <hr>
                            </div>
                            <div class="w3-container">
                              <h5 class="w3-opacity"><b>Centro Universitário Senac – Campinas</b></h5>
                              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2012 – Jul 2013</h6>
                              <p>Specialization in Project Management.</p>
                              <hr>
                            </div>
                            <div class="w3-container">
                              <h5 class="w3-opacity"><b>Politecnico di Torino – Turin</b></h5>
                              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2005 – Dec 2006 / Incomplete</h6>
                              <p>Master of Science in computing engineering.</p><br>
                            </div>
                            <div class="w3-container">
                                <h5 class="w3-opacity"><b>Pontifícia Universidade Católica de Campinas – Campinas</b></h5>
                                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2001 – Dec 2006</h6>
                                <p>Graduated in computing engineering.</p><br>
                              </div>
                              <div class="w3-container">
                                <h5 class="w3-opacity"><b>Colégio Visconde de Porto Seguro – Unidade II - Valinhos</b></h5>
                                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 1988 – Dez 2000</h6>
                                <p>Basic and high school education.</p><br>
                              </div>
                          </div>
<!--                        <div class="container">
            
                            {{ content }}
                            
                            </div>--><!-- /.container -->
                    <!-- End Right Column -->
                    </div>
                    
                    <!-- End Grid -->
                </div>
              <!-- End Page Container -->
            </div>
            <footer class="w3-container w3-teal w3-center w3-margin-top">
                <ul>
                    <li><a href="https://github.com/peauliol">github.com/peauliol</a></li>
                </ul>
                <!--<p>Find me on social media.</p>
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
                <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>-->
            </footer>
        </body>
    </html>